*{
    margin: 0;
    padding: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
    box-sizing: border-box;
}
.header{
   
    padding: 2rem 7rem;   

}
.start{
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
}
.navbar{
  float: right;
    display: inline-block;
}
.start a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.25rem;
    text-decoration: none;
}
.navbar a{
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    transition: .5s;
}
.part1{
    background-image: url(..//images/bg-masthead.jpg);
    
    background-size: cover;
    background-position: center;
    background-color: #212529;
    background-attachment: fixed;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    
}
.part1 h1{
color: #fff;
font-size: 3rem;
margin-bottom: 3rem ;
font-weight: 700;
line-height: 1.2;

}
.invalid{
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #fff
}
.form1 input{
 
    margin: 1.2rem;
    font-size: 1.25rem;
    width: 37rem;
    border-color: #dc3545;
    border-radius: 5px;
    padding: 1rem 1.25rem;
}
.form1 button{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    opacity: 0.65;
}
.part2{
width: 100%;
padding: 2rem 7rem;   
padding-top: 7rem;

}
.part2 .box{
width: 30%;
display: inline-block;
text-align: center;
margin-right: 50px;
}
.box .top{
    
height: 7rem;
}
.box .bottom{
    
    text-align: center;
}

.box .bottom h3{
    text-align: center;
    font-weight: 600;
    font-size: calc(1.3rem + 0.6vw);
    line-height: 1.2;
}

.box .bottom p{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}
.top i{
    text-align: center;
    font-size: 80px;
    color: #0d6efd;
}
.part3{
    flex-wrap: wrap;
   

}
.part3 .box1{
  display: flex; 
}
.part3 .box1 .left{
   text-justify: auto;
   width: 50%;
   padding-left: 100px;
   padding-right: 18rem;
    padding-top: 154px;
    background-color: aliceblue;
}

.part3 .box1 .right{
    width: 50%;
    background-image: url(..//images/bg-showcase-1.jpg);
    background-size: cover;
    background-position: center;  
    height: 450px;
}


.part3 .box1 .left h1{
    font-weight: 700;
    line-height: 1.2;
}
.part3 .box1 .left p{
    font-size: 1.25rem;
    font-weight: 300;
    width: 80%;
}
.part3 .box2{
    display: flex;
   
  }
  .part3 .box2 .right{
    text-justify: auto;
    width: 50%;
    padding-left: 100px;
    padding-right: 18rem;
     padding-top: 154px;
     background-color: aliceblue;
 }
  .part3 .box2 .left{
    width: 50%;
    background-image: url(..//images/bg-showcase-2.jpg);
    background-size: cover;
    background-position: center;  
    height: 450px;
}
.part3 .box3{
    display: flex;
   
  }
  .part3 .box3 .left{
    text-justify: auto;
    width: 50%;
    padding-left: 100px;
    padding-right: 18rem;
     padding-top: 154px;
     background-color: aliceblue;
 }
 .part3 .box3 .right{
    width: 50%;
    background-image: url(..//images/bg-showcase-3.jpg);
    background-size: cover;
    background-position: center;  
    height: 450px;
}

